ul{
    height: 20px;
    padding: 0px;
    margin: 0px;

    }
ul li {
    /*float: left;*/
    list-style: none;
    margin-right: 20px;
    /*display: inline-block;*/
    float: left;
    }
ul li i {
    font-style: normal;
    margin-left: 7px;
    /*display: inline-block;*/
    }
.kb {
	height: 40px
}